.chat {
  width: 50%;
  max-width: 800px;
  border: 5px solid #1d1ab2;
  border-radius: 5px;
  .message-field-wrapper {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
