@import "../../variables.scss";
@import "../../mixin.scss";

.login-form {
  width: 60%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  input {
    height: 25px;
    @include field(0 10px, 0 0 5px 0, $primary-color);
    &:focus {
      border-color: $secondary-color;
    }
  }
  button {
    height: 35px;
    @include button(3px solid $primary-color);
    &:hover {
      background-color: $secondary-color;
    }
  }
}
