@import "../../variables.scss";
@import "../../mixin.scss";

.login-form {
  width: 25%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  input {
    height: 25px;
    @include field(0 10px, 0 0 5px 0, $primary);
    &:focus {
      border-color: $secondary;
    }
  }
  button {
    height: 35px;
    @include button(3px solid $primary);
    &:hover {
      background-color: $secondary;
    }
  }
}
