@import "../../variables.scss";

.message-item {
  width: 80%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin: 0 0 20px 5px;
  border-radius: 5px;
  background-color: $message-item;
  font-size: 0.9rem;
  word-wrap: break-word;
  &:first-child {
    margin-top: 5px;
  }
  .message-author {
    color: $message-author;
  }
  .message-text {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
  }
  .message-info {
    font-size: 0.7rem;
  }
  &.own-message {
    margin-left: auto;
    margin-right: 5px;
    background-color: $message-item-own;
  }
}
