@import "../../variables.scss";
@import "../../mixins.scss";

.message-form {
  width: 100%;
  padding: 5px 0;
  @include flexible(center);
  border-top: 1px solid #000000;
  textarea {
    flex-grow: 1;
    @include field(5px 5px 5px 10px, 0 5px, #888888);
    font-size: 0.8rem;
    resize: none;
    &:focus {
      border-color: $secondary-color;
    }
  }
  button {
    height: 40px;
    margin-right: 5px;
    @include button(none);
    font-size: 1.3em;
    &:hover {
      i {
        color: $primary-color;
      }
    }
    i {
      color: #888888;
    }
  }
}
