.message-form {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #000000;
  textarea {
    flex-grow: 1;
    padding: 5px 0 5px 5px;
    margin: 0 5px 0 5px;
    border-color: #1d1ab2;
    font-size: 0.8rem;
    resize: none;
  }
  button {
    height: 40px;
    margin-right: 5px;
    border-style: none;
    background-color: #ffffff;
    font-size: 1.3em;
    cursor: pointer;
  }
}
