@import "../../variables.scss";
@import "../../mixin.scss";

.chat-header {
  width: 100%;
  padding: 5px 0 10px;
  @include flexible(space-between);
  background-color: $primary;
  color: $secondary;
  .status {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .name {
    font-size: 1.3rem;
  }
  button {
    height: 25px;
    margin-right: 5px;
    @include button(none);
    &:hover {
      background-color: $secondary;
    }
  }
}
