@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  font-family: $font-family;
}
html,
body,
#root {
  height: 100%;
}
body {
  background-color: #ffffff;
}
#root {
  width: 100%;
  @include flexible(center);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  height: 25px;
  border-radius: 5px;
  background: #888888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
